# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# System
.DS_Store

# Virtual env
.env
.venv/
venv/

# Notebook cache
.ipynb_checkpoints/

# =========================
# Ignore dataset files only
# =========================

# Mass spec data
*.msp

# Numpy compressed data
*.npz

# Structure files
*.sdf